name: Elixir Quality Checks

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "*"

jobs:
  quality_checks:
    name: Formatting, Credo, and Unused Deps
    runs-on: ubuntu-latest
    strategy:
      matrix:
        otp: ["25.2.1"]
        elixir: ["1.14.3"]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Elixir Project
        uses: ./.github/actions/elixir-setup
        with:
          elixir-version: ${{ matrix.elixir }}
          otp-version: ${{ matrix.otp }}
          build-app: false

      - name: Check for unused deps
        run: mix deps.unlock --check-unused
      - name: Check code formatting
        run: mix format --check-formatted
        # Check formatting even if there were unused deps so that
        # we give devs as much feedback as possible & save some time.
        if: always()
      - name: Run Credo
        run: mix credo --strict
        # Run Credo even if formatting or the unused deps check failed
        if: always()

      # This was part of the template we copied but I've turned it off for this
      # repo since we use Commanded and `Franklin.CommandedApplication` will
      # cause this to fail, but that is kind of expected.
      # - name: Check for compile-time dependencies
      #   run: mix xref graph --label compile-connected --fail-above 0
      #   if: always()

      # TODO: https://github.com/zorn/franklin/issues/161
      # - name: Check for security vulnerabilities in Phoenix project
      #   run: mix sobelow
      #   if: always()
